@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* font-family: 'Barlow Semi Condensed', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  color: #19212e;
  line-height: 1.7rem;
  background-color: #ecf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 1.3rem;
}

h2.title {
  font-weight: 600;
  line-height: 1.8rem;
  margin-bottom: 1.7rem;
  letter-spacing: 0.1rem;
}

.container {
  background-color: #ecf2f8;
  padding: 100px 20px 100px;
  max-width: 1200px;
}

.article1-bg-color {
  background-color: #7541c8;
  color: white;
}

.article2-bg-color {
  background-color: #48556a;
  color: white;
}
.article4-bg-color {
  background-color: #19212e;
  color: white;
}

.opacity50 {
  opacity: 0.5;
}
.opacity70 {
  opacity: 0.7;
}

article {
  padding: 2.4rem;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 1.5rem;
}
article:last-of-type {
  margin-bottom: 0;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.author img {
  border: 2px solid transparent;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
article:first-of-type img {
  border: 2px solid rgb(159, 125, 212);
}
article:nth-of-type(4) img {
  border: 2px solid #7541c8;
}
.author .author-info {
  margin-left: 15px;
}
